:root {
    --white: white;
    --black: black;
    --brand: #0DB75F;
    --hover: #0db75fac;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  

html {
    scroll-behavior: smooth;
    font-family: Verdana;
}

body {
    font-family: Verdana;
    background-color: var(--white);
    line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

a {
    transition: all 0.4s ease;
    text-decoration: none;
    color: var(--black);
}

a:hover {
    color: var(--brand);
}

ul {
    text-decoration: none;
}
  
li {
    list-style-type: none;
}
  

img {
    width: 100%;
}
  
section {
    padding-top: 90px;
    padding-bottom: 90px;
}
  
.navbar-nav .nav-link:hover {
    color: var(--brand);
}

.navbar-nav .nav-link.active {
    color: var(--brand);
}

.text-brand {
    color: var(--brand);
}

/* Button */

.btn {
    padding: 14px 27px;
    margin: 0px 16px 0px 0px;
    border-radius: 12px;
    font-weight: 500;
    transition: all 1s ease;
}

.btn-brand {
    background-color: var(--brand);
    border-color: 1px solid var(--brand);
    color: #fff;
}

.btn-outline-brand {
    background-color: transparent;
    border-color: var(--brand);
    color: var(--brand);
}

.btn-outline-brand:hover {
    background-color: var(--brand);
    color: #fff;
}

.btn-brand:hover {
    background-color: var(--hover);
    color: #fff;
}

.person-img {
    position: relative;
    z-index: 2;
}

#hero .square-top {
    width: 90%;
    height: 100%;
    background: var(--brand);
    position: absolute;
    top: 0%;
    right: 0;
    z-index: -1;
}

#hero .square-bottom {
    width: 90%;
    height: 90%;
    background: transparent;
    border: 3px solid black;
    position: absolute;
    bottom: -5%;
    left: 0;
    z-index: -1;
}

/* Scroll Bar */

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    /* background: var(--primary); 
    border-radius: 10px; */
    background-color: #28a745;  
    border-radius: 0px;      
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #28a745;
}
